[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pyqt5 = "*"
numpy = "*"
matplotlib = "*"
pyrealsense2 = "*"
imutils = "*"
scipy = "*"
scikit-image = "*"
stockfish = "*"
chess = "*"
pandas = "*"
python-dotenv = "*"
urx = "*"
torch = "*"
torchvision = "*"
albumentations = "*"
tqdm = "*"
click = "*"
pillow = "*"
pyqt5-tools = "*"
opencv-python-headless = "4.5.5.62"
opencv-python = "4.5.5.62"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
main = "python -m chesster"
obj_rec = "python -m chesster.obj_recognition.nn"
