[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pyrealsense2 = "*"
opencv-python = "*"
imutils = "*"
jupyter = "*"
scipy = "*"
scikit-image = "*"
stockfish = "*"
chess = "*"
pandas = "*"
python-dotenv = "*"
urx = "*"
torch = "*"
torchvision = "*"
click = "*"
pillow = "*"
pyqt5 = "*"
pyqt5-tools = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
main = "python chesster/app.py"
